/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lexend Peta', sans-serif;
}
body {
  max-width: 800px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Noto Serif', serif;
}
h1 {
  font-size: 3.5rem;
  padding-bottom: 10px;
}
h2 {
  font-size: 3rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.3rem;
  padding-bottom: 10px;
}
a {
  font-size: 1.3rem;
}
@media (max-width: 600px) {
  a {
    font-size: 1rem;
  }
}
span {
  font-size: 1.3rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: flex-end;
}
nav a {
  text-decoration: none;
  margin: 5px 10px;
}
nav a:hover {
  color: gold;
  text-decoration: underline;
}
body section {
  margin: 15px auto;
}
.blurb {
  display: flex;
  flex-direction: column;
  background-color: lavender;
  padding: 20px;
}
@media (max-width: 600px) {
  .blurb {
    padding: 0;
  }
}
.blurb .blurb_container1,
.blurb .blurb_container2 {
  margin: 10px auto;
}
.blurb .blurb_container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .blurb .blurb_container1 {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
}
.blurb .blurb_container1 div {
  width: 45%;
}
@media (max-width: 600px) {
  .blurb .blurb_container1 div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.blurb .blurb_container1 .bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blurb .blurb_container1 .bio h1,
.blurb .blurb_container1 .bio h3 {
  margin: 0;
}
@media (max-width: 600px) {
  .blurb .blurb_container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}
.blurb .blurb_container2 button {
  font-family: 'Lexend Peta', sans-serif;
  background-color: lightgray;
  padding: 10px 15px;
  border-radius: 10px;
}
.brag {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .brag {
    flex-direction: column;
    align-items: center;
  }
}
.brag div {
  width: 47%;
  margin: 10px auto;
}
@media (max-width: 600px) {
  .brag div {
    width: 90%;
  }
}
.brag .listen p {
  text-align: justify;
}
.brag .stuff {
  display: flex;
  flex-direction: column;
}
.brag .stuff span {
  padding-left: 15px;
}
.table {
  display: flex;
  flex-direction: column;
}
.table .row {
  display: flex;
  padding: 5px 0;
}
.table .row_odd {
  background-color: lightgray;
}
.table .column {
  padding: 0 5px;
  margin: 5px 0;
}
.table .col1 {
  width: 10%;
}
.table .col2 {
  width: 30%;
}
.table .col3 {
  width: 38%;
}
.table .col4 {
  width: 22%;
}
.table span {
  font-size: 1.3rem;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 20px;
}
footer .copyright {
  padding: 0;
}
